* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  .preloader-wrapper {
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #f8c000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    opacity: 1;
    transition: all .3s ease-in-out;
  }
  
  .preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    width: 400px;
  }
  
  #home {
    width: 100%;
    height: 100vh;
    background: url("../img/main-bg.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  
  #home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 0;
  }
  
  nav {
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px;
    z-index: 3;
    top: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .titleContainer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .titleContainer img {
    /* filter: drop-shadow(0px 0px .5rem #FF9E62); */
    box-shadow: none;
  }
  
  img {
    max-width: 100% !important;
  }

  .preloader img {
    filter: none;
    box-shadow: none;
  }
  
  .title {
    text-align: center;
    color: #ffa159;
    /* color: #FFA54C; */
    font-size: 6rem;
  }
  
  .brand {
    -ms-grid-column-align: start;
        justify-self: start;
    cursor: pointer;
  }
  
  .menu {
    position: fixed;
    z-index: 2;
    top: -100vh;
    width: 100%;
    left: 0;
    height: 100vh;
    background: black;
    opacity: 0.9;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu ul {
    position: absolute;
    top: 100px;
    right: 40px;
  }
  
  .menu ul li {
    list-style: none;
    text-align: right;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .menu ul li span {
    position: relative;
  }
  
  .menu ul li span:after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    background: white;
    width: 0;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu ul li span:hover:after {
    width: 100%;
  }
  
  .menuBtn {
    -ms-grid-column-align: end;
        justify-self: end;
    cursor: pointer;
  }
  
  .menuBtn span {
    display: block;
    width: 40px;
    height: 2px;
    background: white;
    position: relative;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menuBtn span:nth-child(1) {
    top: 0;
    -webkit-transform: rotateZ(0);
        -ms-transform: rotate(0);
            transform: rotateZ(0);
    opacity: 1;
    left: 0;
  }
  
  .menuBtn span:nth-child(2) {
    top: 0;
    -webkit-transform: rotateZ(0);
        -ms-transform: rotate(0);
            transform: rotateZ(0);
    opacity: 1;
    left: 0;
  }
  
  .menuBtn span:nth-child(3) {
    top: 0;
    -webkit-transform: rotateZ(0);
        -ms-transform: rotate(0);
            transform: rotateZ(0);
    opacity: 1;
    left: 0;
  }
  
  .bottom2 {
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px 40px 40px;
    z-index: 3;
    bottom: 0;
    opacity: 1;
    font-family: "Poppins", sans-serif;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .bottom2 div:nth-child(1) {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  
  .bottom2 div:nth-child(2) {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  
  .bottom2 ul li {
    list-style: none;
    display: inline-block;
  }
  
  .bottom2 ul li a {
    color: white;
  }
  
  .fa-facebook-square:hover {
    background-color: #2b4170; /* fallback color */
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fa-instagram:hover {
    background: #d6249f;
    background: -webkit-radial-gradient(
      30% 107%,
      circle,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -o-radial-gradient(
      30% 107%,
      circle,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  #about {
    font-family: 'Montserrat', sans-serif;
  }
  #about h1 {
    padding-top: 110px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
  }
  #about h1:after {
    content: "";
    display: block;
    width: 75px;
    height: 5px;
    background: #333;
  }
  .grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 75px 0;
    grid-column-gap: 30px;
  }
  .grid1 p {
    font-size: 1.3rem;
  }
  .grid2 {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
        grid-template-areas: "text image";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 75px 0;
    grid-column-gap: 30px;
  }
  .grid2 p {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
    font-size: 1.3rem;
    padding-left: 50px;
    border-left: 5px solid #ffa159;
  }
  .grid2 img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
  }
  grid3 {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #location {
    background-color: white;
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  }
  #facebook {
    display: none;
  }
  #instagram {
    display: none;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .time {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  #map {
    width:100%;
    height:400px;
  }
  #map img {
    filter: none;
    box-shadow: none;
  }
  .mySlides {
    display: none;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  #gallery {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  #gallery h1 {
    color: white;
    text-align: right;
    position: relative;
    display: inline-block;
    float: right;
    padding-top: 110px;
  }
  #gallery h1:after {
    content: "";
    position: absolute;
    display: block;
    width: 75px;
    height: 5px;
    background: #ffa159;
  }
  .galleryContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .galleryContainer img {
    display: none;
    cursor: pointer;
  }
  .galleryBtn {
    display: inline-block;
    text-decoration-line: none;
    border: 1px solid white;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 25px;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
    background-color: transparent;
    cursor: pointer;
  }
  .galleryBtn:hover {
    background-color: white;
    color: black;
  }
  #events {
    background: url("../img/events.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  #events:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.95;
    z-index: 0;
  }
  #events h1 {
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 110px;
  }
  #events h1:after {
    content: "";
    position: absolute;
    display: block;
    width: 75px;
    height: 5px;
    background: #ffa159;
  }
  #event {
    margin: auto;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @media screen and (max-width: 992px) {
    .grid1 {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
    .grid2 {
          grid-template-areas:
        "image"
        "text";
      grid-row-gap: 30px;
    }
    .galleryContainer {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 768px), (max-height: 768px) {
    .bottom2 {
      display: none;
    }
    .time {
      display: block;
    }
    #facebook {
      display: inline-block;
      float: left;
    }
    #instagram {
      display: inline-block;
      float: right;
    }
    #instagram:after {
      clear: both;
    }
  }
  @media screen and (max-width: 576px), (max-height: 576px) {
    * {
      text-align: center !important;
    }
    .grid2 p {
      border: none;
      padding: 0;
    }
    .title {
      font-size: 3rem;
    }
    #about h1:after {
      content: none;
    }
    .galleryContainer {
      grid-template-columns: 1fr;
    }
    #events h1:after {
      content: none;
    }
    #gallery h1 {
      float: none;
    }

    #gallery h1:after {
      content: none;
    }
    .menu ul {
      position: absolute;
      top: 50%;
      right: 50%;
      -webkit-transform: translate(50%, -50%);
          -ms-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
    }
    .menu ul li {
      text-align: center;
      font-size: 1.9rem;
    }
  }

  @media screen and (max-height: 680px), (max-width: 680) {
    #map {
      width:100%;
      height:250px;
    }
  }

  @media screen and (max-height: 480) {
    .menu ul li {
      font-size: 1rem;
    }

    .time p {
      font-size: 10px !important;
    }
  }